.join-container
> .container-fluid
> .row
> .join-heading {
	display: flex;
	justify-content: center;
	background-color: black;
	border-top: 1px solid var(--main-color-e6fe58);
	border-bottom: 1px solid var(--main-color-e6fe58);
	margin-bottom: 5%;
}

.join-container
> .container-fluid
> .row
> .join-heading
> h1 {
	color: var(--main-color-e6fe58);
}

.form-join-content {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 475px;
}

.form-join-content
> form
> .form-join-input {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	height: 475px;
}

.form-join-content
> form
> .form-join-input
> .form-join-personal {

	display: flex;
	height: 40%;
}

.form-join-content
> form
> .form-join-input
> .form-join-personal
> .personal {
	width: 50%;

}

.form-join-content
> form
> .form-join-input
> .form-join-personal
> .gender {
	width: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.form-join-label {
	font-size: 20px;
}

.form-join-course {
	display: flex;
	justify-content: space-between;
}

.form-join-course
> .ABC {
	width: 25%;
}

.form-join-course
> .ABC
> div {
	display: flex;
	justify-content: space-between;
}

.form-join-course
> .XYZ {
	width: 55%;
}

.form-join-course
> .XYZ
> div {
	display: flex;
	justify-content: space-between;
}

.form-join-submit {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.form-join-submit
> input {
	background-color: var(--main-color-e6fe58);
	border: none;
	color: black;
	font-weight: bold;
}

.personal
> div
> input {
	width: 70%;
}

.form-background
> img {
	width: 100%;
	height: 200px;
}