
/* make variables */

.App_gallery{
  background-color: black;
  flex-direction: column;
  gap: 7rem;
  overflow: hidden;
}

::-webkit-scrollbar {
  display:flex;
}

.stroke-text {
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

:root {
  --white: #fff;
  --yellow: #e6fe58;
  --black: #000;
  --main-transition: 0.3s;
}

/* body {
  font-family: "Roboto", sans-serif;
} */

.container {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .container {
    width: 95%;
  }
}

.margin-sections {
  margin-top: 90px;
}

@media (max-width: 900px) {
  .margin-sections {
    margin-top: 70px;
  }
}

.sections-padding {
  padding: 8rem 0;
}

.main-heading {
  color: var(--white);
  font-size: 50px;
  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: black;
  --stroke-color: lightblue;
  text-shadow: var(--x-offset) var(--y-offset) 0px var(--background-color),
    calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke))
      0px var(--stroke-color);
}

.main-background {
  text-align: center;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

*::-webkit-scrollbar {
  width: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: var(--black);
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--yellow);
}









.first {
  background-image: url("../../../assets/images/intro/about1.jpg");
}

.second{
  color: white;
  text-align: center;
  text-decoration: dashed;
}

.news {
	color: var(--main-color-e6fe58);
}

@media (max-width: 800px) {
  .boxes {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.card-story {
	display: flex;
	justify-content: center;
	background-color: black;
	height: 25px;
	border: none;
}

.card-story
> img {
	display: block;
}

#card-story-1, #card-story-2, #card-story-3 {
	display: none;
	position: absolute;
	top: 20%;
	left: 0px;
	background-color: var(--main-color-e6fe58);
	width: 100%;
	height: 500px;
	z-index: 1;
}

#card-story-1
> div,
#card-story-2
> div,
#card-story-3
> div {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
}

#card-story-1
> div
> div,
#card-story-2
> div
> div,
#card-story-3
> div
> div {
	width: 50%;
	height: 95%;
	background-color: white;
}

#card-story-1
> div
> .card-story-img
> img,
#card-story-2
> div
> .card-story-img
> img,
#card-story-3
> div
> .card-story-img
> img {
	width: 100%;
	height: 100%;
}

#card-story-1
> div
> .card-story-content,
#card-story-2
> div
> .card-story-content,
#card-story-3
> div
> .card-story-content {
	padding: 2%;
}

#card-story-1
> div
> .card-story-content
> h3,
#card-story-2
> div
> .card-story-content
> h3,
#card-story-3
> div
> .card-story-content
> h3 {
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 48px;
}

#card-story-1
> div
> .card-story-content
> p,
#card-story-2
> div
> .card-story-content
> p,
#card-story-3
> div
> .card-story-content
> p {
	margin-top: 5%;
	margin-bottom: 5%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#card-story-1
> div
> .card-story-content
> div,
#card-story-2
> div
> .card-story-content
> div,
#card-story-3
> div
> .card-story-content
> div {
	display: flex;
	justify-content: flex-end;
}

#card-story-1
> div
> .card-story-content
> div
> .hide-story-button,
#card-story-2
> div
> .card-story-content
> div
> .hide-story-button,
#card-story-3
> div
> .card-story-content
> div
> .hide-story-button {
	background-color: var(--main-color-e6fe58);
	color: black;
	border: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#card-story-1
> div
> .card-story-content
> div
> .hide-story-button:hover,
#card-story-2
> div
> .card-story-content
> div
> .hide-story-button:hover,
#card-story-3
> div
> .card-story-content
> div
> .hide-story-button:hover {
	background-color: white;
	border: 1px solid black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}